<h1><%= @title %></h1>

<p>Welcome to Yoga Positions. Suitable for beginners to advanced users who want learn and share yoga poses.</p>

<% @positions.each do |position| %>
<div>
	<h3><a href="<%= position.id %>"><%= position.title %></a></h3>
	<img src="<%= position.image %> ">
	<p><%= position.description %></p>
	<p>Difficulty rating: <%= position.rating %>/5</p>

</div>
<% end %>